@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&family=Titillium+Web:wght@300&family=Varela+Round&display=swap");
/*Seccion de Inicio*/
.titulo-heladeras, .titulo-netbooks, .titulo-lavarropas {
  font-family: "Varela Round", sans-serif;
  text-align: center;
  margin-bottom: 30px;
  color: #EEF4ED;
  background-color: #0B2545; }

.flex-productos {
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px 100px 100px;
  text-align: center;
  justify-content: center;
  gap: 10px; }
  .flex-productos .box-heladeras, .flex-productos .box-netbooks {
    border: 1px black;
    border-radius: 15px;
    width: 300px;
    background-color: #8DA9C4; }
    .flex-productos .box-heladeras .texto-productos, .flex-productos .box-netbooks .texto-productos {
      color: #13315C;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-decoration: underline; }
    .flex-productos .box-heladeras .precio-productos, .flex-productos .box-netbooks .precio-productos {
      color: #EEF4ED;
      font-family: "Titillium Web", sans-serif; }
    .flex-productos .box-heladeras .img-productos, .flex-productos .box-netbooks .img-productos {
      width: 100%; }
    .flex-productos .box-heladeras .btn, .flex-productos .box-netbooks .btn {
      border: 1px solid black;
      margin-bottom: 5px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: #0B2545;
      color: #EEF4ED; }
      .flex-productos .box-heladeras .btn:hover, .flex-productos .box-netbooks .btn:hover {
        background-color: #11335e73; }

#flex-aspiradora {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 100px; }
  #flex-aspiradora .box-aspi {
    border: 3px solid black; }
    #flex-aspiradora .box-aspi .img-aspiradora {
      width: 100%; }

/*Sección de Productos*/
.flex-todo {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 100px; }
  .flex-todo .titulo-productos {
    text-align: center;
    margin: 30px 0 50px 0;
    background-color: #0B2545;
    font-family: "Varela Round", sans-serif;
    color: #EEF4ED; }
  .flex-todo .grid-listas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    text-align: center; }
    .flex-todo .grid-listas .lista-productos {
      border: 3px black;
      border-radius: 15px;
      background-color: #8DA9C4;
      width: 350px; }
      .flex-todo .grid-listas .lista-productos .texto-productos {
        color: #13315C;
        font-size: x-large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: underline; }
      .flex-todo .grid-listas .lista-productos .precio-productos {
        color: #EEF4ED;
        font-size: x-large;
        font-family: "Titillium Web", sans-serif; }
      .flex-todo .grid-listas .lista-productos .img-heladeras {
        width: 100%; }
      .flex-todo .grid-listas .lista-productos .btn {
        border: 1px solid black;
        margin-bottom: 5px;
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #0B2545;
        color: #EEF4ED; }
        .flex-todo .grid-listas .lista-productos .btn:hover {
          background-color: #11335e73; }

.navbar {
  background-color: #0B2545; }
  .navbar .container {
    justify-content: space-evenly; }
    .navbar .container .nav .nav-item {
      padding: 20px; }
      .navbar .container .nav .nav-item .nav-link {
        font-size: x-large;
        font-family: "Varela Round", sans-serif;
        color: #EEF4ED;
        text-decoration: none;
        padding: 0; }
        .navbar .container .nav .nav-item .nav-link:hover {
          border-bottom: 1px solid #EEF4ED; }

.carousel {
  padding: 20px 0 20px 0; }

.espacio {
  border-radius: 4px;
  background-color: black; }

/*Publicidades de las paginas*/
.publicidades {
  margin: 100px 200px 100px 200px; }
  .publicidades .publi {
    width: 100%;
    border: 2px solid black; }
    .publicidades .publi .img-publicidad {
      width: 100%; }

.publicidades-otros {
  padding: 50px 200px 50px 200px; }
  .publicidades-otros .publis {
    width: 100%;
    border: 2px solid black; }
    .publicidades-otros .publis .img-publicidad {
      width: 100%; }

/*Sección de Formulario*/
.titulo-form {
  text-align: center;
  text-decoration: underline;
  color: #EEF4ED;
  padding: 20px;
  font-family: "Varela Round", sans-serif; }

#formulario {
  margin: 20px 300px 0 300px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0 20px 20px 20px;
  background-color: #8DA9C4; }
  #formulario .box {
    padding-top: 10px; }
    #formulario .box .row .form-label {
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
    #formulario .box .btn {
      border: 1px solid black;
      text-decoration: underline;
      background-color: #0B2545;
      color: #EEF4ED; }
      #formulario .box .btn:hover {
        background-color: #11335e73; }

/*Sección de Pedidos*/
.titulo-pedidos {
  padding: 20px 0 20px 0;
  color: #EEF4ED;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  text-decoration: underline; }

.flex-pedidos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px; }
  .flex-pedidos .bordes-pedidos {
    text-align: center;
    background-color: #8DA9C4;
    border-radius: 10px; }
    .flex-pedidos .bordes-pedidos .img-pedidos {
      width: 100%; }
    .flex-pedidos .bordes-pedidos .texto-productos {
      color: #13315C;
      font-size: x-large;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-decoration: underline; }

/*Sección de Acerca de*/
.nosotrosNV {
  margin: 0 200px 0px 200px;
  padding-top: 20px; }
  .nosotrosNV .titulo-nosotros {
    text-align: center;
    color: #EEF4ED;
    font-family: "Varela Round", sans-serif;
    padding-bottom: 20px;
    text-decoration: underline; }
  .nosotrosNV .historia {
    font-size: x-large;
    padding: 20px;
    color: #EEF4ED;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

@media (max-width: 1440px) {
  .flex-todo .grid-listas {
    grid-template-columns: repeat(2, 1fr); }
  #formulario {
    margin: 0 100px 0 100px; } }

@media (max-width: 1025px) {
  .box-heladeras .texto-productos, .box-netbooks .texto-productos {
    font-size: x-large; }
  .flex-todo .grid-listas {
    grid-template-columns: repeat(2, 1fr); }
    .flex-todo .grid-listas .lista-productos {
      width: 300px; }
      .flex-todo .grid-listas .lista-productos .texto-productos {
        font-size: x-large; }
  .flex-ayuda h4, .flex-ayuda .consultas {
    font-size: large; }
  #formulario {
    margin: 0 100px 0 100px; }
  .publicidades {
    margin: 100px 50px 100px 50px; }
  .publicidades-otros {
    padding: 50px 100px 50px 100px; }
  .bordes-pedidos {
    margin: 0 50px 0 50px; }
  .historia {
    font-size: x-large; }
  .nosotrosNV {
    margin: 0 100px 0 100px; } }

@media (max-width: 769px) {
  .navbar .nav {
    display: flex;
    justify-content: center; }
  .flex-todo .grid-listas {
    grid-template-columns: repeat(2, 1fr); }
  #flex-aspiradora {
    margin: 0 100px 0 100px; }
  .publicidades {
    margin: 0 20px 50px 20px; }
  .publicidades-otros {
    padding: 50px 20px 50px 20px; }
  #formulario {
    margin: 0 10px 0 10px; }
  .flex-ayuda {
    text-align: center; }
    .flex-ayuda h4, .flex-ayuda .consultas {
      font-size: medium;
      padding-bottom: 10px; }
    .flex-ayuda .redes-catalogo {
      padding-bottom: 10px; }
  .titulo-heladeras, .titulo-netbooks, .titulo-lavarropas {
    font-size: xx-large; }
  .nosotrosNV {
    margin: 0 50px 0 50px; } }

@media (max-width: 573px) {
  .titulo-heladeras, .titulo-netbooks, .titulo-lavarropas {
    font-size: xx-large; }
  .box-heladeras .texto-productos, .box-heladeras .precio-productos, .box-netbooks .texto-productos, .box-netbooks .precio-productos {
    font-size: x-large; }
  .box-heladeras .btn, .box-netbooks .btn {
    font-size: medium;
    margin-bottom: 10px; }
  .flex-todo .titulo-productos {
    font-size: x-large; }
  .flex-todo .grid-listas {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center; }
    .flex-todo .grid-listas .lista-productos {
      width: 250px; }
      .flex-todo .grid-listas .lista-productos .texto-productos, .flex-todo .grid-listas .lista-productos .precio-productos {
        font-size: x-large; }
      .flex-todo .grid-listas .lista-productos .btn {
        font-size: medium;
        margin-bottom: 10px; }
  .publicidades {
    display: none; }
  .publicidades-otros {
    padding-bottom: 0; }
    .publicidades-otros .publis {
      border: 2px #0B2545; }
      .publicidades-otros .publis .img-publicidad {
        width: 0%; }
  .flex-ayuda {
    flex-direction: column; }
    .flex-ayuda h4, .flex-ayuda .consultas {
      font-size: large; }
  .titulo-pedidos {
    font-size: x-large; }
  .flex-pedidos .bordes-pedidos .texto-productos {
    font-size: larger; }
  .flex-pedidos .bordes-pedidos h3 {
    font-size: large; }
  .historia {
    font-size: large; }
  .nosotrosNV {
    margin: 0 10px 0 10px; } }

@media (max-width: 375px) {
  .titulo-heladeras, .titulo-netbooks, .titulo-lavarropas {
    font-size: larger; }
  .box-heladeras .texto-productos, .box-heladeras .precio-productos, .box-netbooks .texto-productos, .box-netbooks .precio-productos {
    font-size: medium; }
  .box-heladeras .btn, .box-netbooks .btn {
    font-size: xx-small; }
  .flex-ayuda h4, .flex-ayuda .consultas {
    font-size: medium; }
  .flex-todo .grid-listas .lista-productos {
    width: 200px; }
    .flex-todo .grid-listas .lista-productos .texto-productos, .flex-todo .grid-listas .lista-productos .precio-productos {
      font-size: larger; }
    .flex-todo .grid-listas .lista-productos .btn {
      font-size: small; }
  .titulo-pedidos {
    font-size: larger; }
  .flex-pedidos {
    margin: 0 20px 0 20px; }
    .flex-pedidos .bordes-pedidos .texto-productos {
      font-size: large; }
    .flex-pedidos .bordes-pedidos h3 {
      font-size: medium; }
  span {
    font-size: medium; } }

* {
  padding: 0;
  margin: 0; }

main {
  background-color: #134074; }

.flex-ayuda {
  display: flex;
  justify-content: space-evenly;
  background-color: #0B2545; }
  .flex-ayuda h4 {
    color: #EEF4ED;
    font-family: "Varela Round", sans-serif; }
  .flex-ayuda .redes-catalogo {
    display: inline-block; }
  .flex-ayuda .consultas {
    color: #EEF4ED;
    text-decoration: none;
    font-family: "Varela Round", sans-serif; }
