    $colortitulo: #EEF4ED;
    $colorletras: #EEF4ED;
    $fontTextos: Verdana, Geneva, Tahoma, sans-serif;
    $fontTitulos: 'Varela Round', sans-serif;
    
    /*Sección de Acerca de*/
    .nosotrosNV{
        margin: 0 200px 0px 200px;
        padding-top: 20px;
        .titulo-nosotros{
            text-align: center;
            color: $colortitulo;
            font-family: $fontTitulos;
            padding-bottom: 20px;
            text-decoration: underline;
        }
        .historia{
            font-size: x-large;
            padding: 20px;
            color: $colorletras;
            font-family: $fontTextos;
        }
    }