    $colortitulo: #EEF4ED;
    $colorletras: #13315C;
    
    .historia{
        font-size: xx-large;
        padding: 20px;
        background-color: #8DA9C4;
        color: $colorletras;
    }
    .nosotrosNV{
        text-align: center;
        margin: 0 200px 0px 200px;
        color: $colortitulo;
        padding: 20px 0 40px 0;
        
    }