    $colorboton: #0B2545;
    $colorletras: #EEF4ED;
    $colorfondo: #8DA9C4;    
    
    .titulo-form{
        text-align: center;
        text-decoration: underline;
        color: $colorletras;
        padding-bottom: 10px;
    }

    #formulario{
        margin: 0 400px 0 400px;
        border: 2px solid black;
        border-radius: 10px;
        padding: 0 20px 10px 20px;
        background-color: $colorfondo;
        .box{
            padding-top: 10px;
            .btn{
                border: 1px solid black;
                text-decoration: underline;
                background-color: $colorboton;
                color: $colorletras;
            }
        }
    }