    $colorboton: #0B2545;
    $colorletras: #EEF4ED;
    $colorproductos: #8DA9C4;
    $colorletras-productos: #13315C;
    
    .flex-todo{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 100px;
        .titulo-productos{
            text-align: center;
            padding-bottom: 20px;
            color: $colorletras;
        }
        .grid-listas{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 2rem;
            text-align: center;
            .lista-productos{
                border: 3px black;
                border-radius: 15px;
                background-color: $colorproductos;
                color: $colorletras-productos;
                width: 350px;
                .texto-productos{
                    color: $colorletras-productos;
                }
                .img-heladeras{
                    width: 100%;
                }
                .btn{
                    border: 1px solid black;
                    text-decoration: underline;
                    background-color: $colorboton;
                    color: $colorletras;
                    margin-bottom: 10px;
                }
            }
        }    
    }