    .publicidades{
        border: 2px solid black;
        margin: 100px 200px 100px 200px;
        .publi{
            width: 100%;
            .img-publicidad{
                width: 100%;
            }
        }
    }

    .publicidades-otros{
        padding: 50px 150px 50px 150px;
        text-align: center;
        width: 100%;
        .publis{
            width: 100%;
            border: 2px solid black;
            .img-publicidad{
                width: 100%;
            }
        }
    }